@import 'general.css';

.form-login {
    background: var(--background);
    padding: 2.5rem;
    border-radius: 1.5rem;
    color: white;
}

.h3 {
    font-family: var(--Kau);
}

.inscrip {
    color: var(--mauve);
    text-decoration: none !important;
}


/* Landscape */
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
    .login_container {
        height: 60vh;
        overflow-y: scroll;
    }
}