@import "general.css";

.all_products {
    overflow-y: scroll;
    height: 90vh;
}

.all_products h1 {
    font-family: var(--Kau);
    color: var(--background);
}

/*================================================ */

.card {
    height: 450px;
}

.card:hover {
    box-shadow: 3px 13px 21px -5px var(--shadow);
    transition: .15s ease-out;
}

.card:hover .img_overlay {
    width: 100%;
    height: 75%; /**a voir */
    position: absolute;
    background: var(--mauve);
    opacity: 0.5;
    transition: all .15s ease-out;
}

.card-title > a {
    text-decoration: none !important;
    color: var(--background);
    font-weight: bold;
    transition: all .15s ease-in-out;
}

.card-title > a:hover {
    color: var(--mauve);

    transition: color .15s ease-out;
}

.price_product {
    font-size: 2em;
    color: var(--background);
    font-weight: bold;
}

/*================================================ */

/**=============================================================================================================== */
/**                                              MEDIA QUERIES                                                     */
/**=============================================================================================================== */

/* ----------- iPhone X ----------- */


/* Portrait */
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
        .all_products {
            height: 90vh;
        }
    }


/* Landscape */
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
        .all_products {
            height: 90vh;
        }
    }

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
        .all_products {
            height: 90vh;
        }
    }

/* Landscape */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
        .all_products {
            height: 90vh;
        }
    }

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
    and (min-device-width: 1366px)
    and (max-device-width: 1366px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
        .all_products {
            height: 90vh;
        }
    }